<nav class="navbar has-shadow is-fixed-top" aria-label="main navigation">
  <div class="navbar-brand">
    <div class="navbar-item is-size-4 has-text-weight-medium" style="padding-left: 1rem">
      Image Only
    </div>
  </div>
  <div class="buttons fab-buttons">
    <button class="button is-link fab-button">
      <span class="icon">
        <i class="fas fa-plus"></i>
        <input type="file" accept="image/jpeg,image/png" multiple (change)="loadImage($event)">
      </span>
    </button>
  </div>
</nav>

<section class="hero is-fullheight-with-navbar">
  <div class="hero-body">
    <div class="container" style="max-width: 640px">

      <div class="card" *ngIf="!images?.length; else actions">
        <div class="card-image">
          <figure class="image">
            <img src="assets/icons/icon-512x512.png" alt="image-only-logo" style="padding: 2rem">
          </figure>
        </div>
        <div class="card-content">
          <div class="content">
            Select an image to remove its metadata
          </div>
        </div>
      </div>
      <ng-template #actions>
        <div class="level">
          <button class="button is-danger is-outlined" (click)="removeAll()">
            <span>Remove all</span>
            <span class="icon is-small">
              <i class="fas fa-trash"></i>
            </span>
          </button>
        </div>

      </ng-template>

      <div *ngFor="let image of images index as index; trackBy:imageName" class="level">
        <div class="card">
          <div class="card-image">
            <figure class="image">
              <img *ngIf="image?.url" [src]="image?.url" />
              <img *ngIf="!image?.url" src="assets/icons/icon-512x512.png" alt="image-only-logo" style="padding: 2rem">
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              Image cleaned!
            </div>
          </div>
          <footer *ngIf="image?.url" class="card-footer">
            <a class="card-footer-item" (click)="rotate(image)">
              Rotate
              <span class="icon"><i class="fas fa-level-down-alt"></i></span>
            </a>
            <a class="card-footer-item" (click)="remove(index)">
              Remove
              <span class="icon">
              <i class="fas fa-trash"></i>
            </span>
            </a>
            <a class="card-footer-item" [href]="image.url" [download]="image.name" target="_blank">
              Save
              <span class="icon">
              <i class="fas fa-download"></i>
            </span>
            </a>
          </footer>
        </div>
      </div>
    </div>
  </div>

  <footer class="footer hero-foot has-background-white-ter has-text-grey-dark">
    <div class="content has-text-centered ">

      <p>This tool is made to protect your privacy. No data is sent anywhere.</p>
      <p>Free & open-source under the MIT license.</p>
      <a href="https://github.com/eboukamza/image-only" target="_blank" aria-label="github-repo">
          <span class="icon is-large has-text-grey-dark">
            <i class="fab fa-2x fa-github"></i>
          </span>
      </a>
    </div>

  </footer>
</section>
