<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-title>
        Image Only
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <div class="ion-padding">
      <ion-card>
        <img *ngIf="image?.url" [src]="image?.url" />
        <img *ngIf="!image?.url" src="assets/icons/icon-512x512.png">
        <ion-card-content *ngIf="!image?.url">Select an image to remove its metadata</ion-card-content>
        <ion-card-content *ngIf="image?.url">Image cleaned!</ion-card-content>
      </ion-card>
    </div>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed" style="margin:32px;bottom:72px">
      <a *ngIf="image?.url" [href]="image?.url" download="image-cleaned.jpeg">
             <ion-fab-button>
               <ion-icon name="download"></ion-icon>
             </ion-fab-button>
           </a>
    </ion-fab>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed" style="margin:32px">
      <ion-fab-button>
        <ion-icon name="image"></ion-icon>
        <input type="file" accept="image/jpeg" (change)="loadImage($event)">
      </ion-fab-button>

    </ion-fab>

  </ion-content>

</ion-app>
